
<div class="index row">
    <div class="index-main">
        <h1><strong>{{title}}</strong></h1>
        <button><a href="/movies" class="check-movies">Check the movies!</a></button>
    </div>
</div>